*,

body {
    padding: 0%;
    margin: 0%;
}

.background-image {
    background: url(BG-Omni.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

.img {
    width: 780px;
    height: 360px;

}

.container {
    margin-top: 1%;
    border: 6px dashed green;
    height: 36vh;
    width: 40%;

}

.up {
    clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 50% 100%, 25% 75%);
    height: 90px;
    width: 100px;
}

.back {
    clip-path: polygon(25% 25%, 50% 0%, 75% 25%, 75% 75%, 25% 75%);
    height: 90px;
    width: 100px
}

.left {
    clip-path: polygon(25% 25%, 75% 25%, 100% 50%, 75% 75%, 25% 75%);
    height: 100px;
    width: 90px
}

.right {
    clip-path: polygon(0% 50.25%, 25% 25%, 75% 25%, 75% 75%, 25% 75%);
    height: 100px;
    width: 90px
}



.col-2 {
    margin-left: 11%;
    margin-top: -50px;

}

.col-1 {
    margin-left: 11%;
    margin-top: 2%;
}


.col-3 {

    margin-top: -50px;
    width: 20%;
    margin-left: 10px;
}

.joystick {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 60%;
    position: relative;
    margin-left: 75%;
    margin-top: -290px;

}

.stick {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s;
}

.tombol {
    padding-top: 20px;

}

.stop,
.refresh {
    width: 20%;
}



footer {
    height: 50px;
    background-color: rgb(113, 113, 173);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 98px;
}

.logo {

    height: 50%;
    width: 40px;
}

@media (max-width: 390px) {
    .container {
        height: 300px;
        width: auto;
    }

    .img-thumbnail {
        width: auto;
        height: auto;
    }

    .footer {
        margin-top: 50%;
    }

    .row {
        margin-left: -10%;
        margin-top: 8%;

    }

    .col-1,
    .col-2 {
        padding-left: 27px;
    }

    .col-3 {
        margin-right: 5%;
    }

    .stick {
        width: 30px;
        height: 30px;
    }

    .joystick {
        width: 100px;
        height: 100px;
        margin-left: 70%;
        margin-top: -60%;
    }

    .tombol {
        margin-top: -10%;
        width: 100%;

    }

    .stop,
    .refresh {
        margin-left: 0%;
        width: 40%;
        height: auto;
    }

    .up,.back {
        height: 50px;
        width: 60px;
    }

    .left,.right {
        width: 50px;
        height: 60px;
    }
}