*,

body {
    padding: 0%;
    margin: 0%;
}

.background-image {
    background: url(BG-Omni.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    padding-top: 3%;
}

.img {
    width: 780px;
    height: 360px;
}

.container {
    margin-top: 1%;
    border: 6px dashed green;
    height: 40vh;
    width: 40%;
    padding-top: 2%;
}

.up {
    clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 50% 100%, 25% 75%);
    height: 90px;
    width: 100px;
}

.back {
    clip-path: polygon(25% 25%, 50% 0%, 75% 25%, 75% 75%, 25% 75%);
    height: 90px;
    width: 100px
}

.left {
    clip-path: polygon(25% 25%, 75% 25%, 100% 50%, 75% 75%, 25% 75%);
    height: 100px;
    width: 90px
}

.right {
    clip-path: polygon(0% 50.25%, 25% 25%, 75% 25%, 75% 75%, 25% 75%);
    height: 100px;
    width: 90px
}



.col-2 {
    margin-left: 11%;
    margin-top: -50px;

}

.col-1 {
    margin-left: 11%;
    margin-top: 2%;
}


.col-3 {

    margin-top: -50px;
    width: 20%;
    margin-left: 10px;
}

.joystick {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 60%;
    position: relative;
    margin-left: 75%;
    margin-top: -290px;

}

.stick {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s;
}


.stop,
.refresh {
    width: 20%;
}

footer {
    height: 50px;
    background-color: rgb(113, 113, 173);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.logo {

    height: 50%;
    width: 40px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .container {
        border: 4px dashed green;
        height: 30vh;
        width: 100%;
    }

    .img{
        height: auto;
        width: auto;
    }

    .stick {
        width: 45px;
        height: 45px;
    }

    .joystick {
        width: 120px;
        height: 120px;
        margin-left: 63%;
        margin-top: -220px;
    }

    .col-1,.col-2{
        margin-left: 14%;
    }

    .col-3 {
        width: 23%;
        margin-left: 10px;
    }
  
    .up,
    .back {
        height: 60px;
        width: 70px
    }

    .left,
    .right {
        height: 70px;
        width: 60px;
    }

    .stop,
    .refresh {
        width: 40%;
    }

    .footer{
        margin-top: 60%;
        height: 15vh;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .background-image {
        background: url(BG-Omni.png);
        background-size: cover;
    }

    .img{
        height: 250px;
        width: 60%;
    }

    .container {
        height: 60vh;
        width: 60%;
        padding-top: 0%;
    }

    .stick {
        width: 50px;
        height: 50px;
    }

    .joystick {
        width: 130px;
        height: 130px;
        margin-left: 63%;
        margin-top: -220px;
    }

    .up,
    .back {
        height: 70px;
        width: 80px
    }

    .left,
    .right {
        height: 80px;
        width: 70px;
    }

    .col-1,.col-2{
        margin-left: 12%;
    }

    .tombol{
        margin-top: -5%;
    }

    .stop,
    .refresh {
        width: 40%;
    }

 }